html{
    background-color: chocolate;
    height: 100%;
}

header{
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    margin-top: 2rem;
}

.board{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);;
    width: 30rem;
    height: 30rem;
    margin: auto;
    margin-top: 5rem;
    border: solid black 1px;
    text-align: center;
}

.cell{
    border: solid black 1px;
    text-align: center;
    font-size: 8rem;
    background-color: white;
}

.cell:hover{
    background-color: lightblue;
}

.message{
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
}

.restartBtn{
    text-align: center;
    margin-top: 3rem;
}

.restartBtn button{
    font-weight: bold;
    font-size: 2rem;
    height: 5rem;
    width: 15rem;
}

.disabled{
    pointer-events: none;
}

/* Smartphones portrait mode----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 420px) {
    header{
        font-size: 7rem;
        margin-top: 20rem;
    }

    .board{
        height: 45rem;
        width: 45rem;
    }

    .restartBtn button{
        font-size: 4rem;
        height: 15rem;
        width: 25rem;
    }

    .cell{
        font-size: 12rem;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {

}