html{
    background-color: chocolate;
}

header{
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    margin-top: 2rem;
}

.board{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);;
    width: 30rem;
    height: 30rem;
    margin: auto;
    margin-top: 5rem;
    border: solid black 1px;
    text-align: center;
}

.cell{
    border: solid black 1px;
    text-align: center;
    font-size: 8rem;
}

.cell:hover{
    background-color: lightblue;
}

.message{
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
}

.restartBtn{
    text-align: center;
    margin-top: 3rem;
}

.restartBtn button{
    font-weight: bold;
    font-size: 2rem;
    height: 5rem;
    width: 15rem;
}

.disabled{
    pointer-events: none;
}

/* Smartphones ----------- */
@media only screen
and (min-width : 320px)
and (max-width : 414px) {
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {

}